.sign__form {
    &__title {
        font-size: x-large;
        font-weight: bolder;
        display: flex;
        justify-content: center;

        .brandNm {
            position: relative;

            span {
                @apply text-rose-700;
                position: absolute;
                top: 3px;
                line-height: 1;
            }
        }
    }
}

.other-page-button {
    @apply text-blue-600;
    text-decoration: underline;
}